.pay-dialog {
  align-self: flex-end;
  width: 100%;
  max-width: 375px !important;
  border-radius: 18px !important;
  padding: 20px 12px;
  margin: 0 8px 34px !important;
}

.pay-dialog p {
  margin-bottom: 12px;
  font-size: 15px;
}

.pay-dialog-radio {
  justify-content: space-between;
  margin-left: 0 !important;
}

.pay-dialog h5 {
  margin: 18px 0 12px;
  font-size: 15px;
  color: black;
}

.pay-dialog-button {
  margin-top: 12px !important;
}

.add-payment {
  margin-right: 10px;
  text-decoration: underline;
  font-weight: bold;
}

.add-payment-input {
  margin-bottom: 10px;
}