.creator-signup-header {
  text-align: center;
  margin: 30px;
}

.creator-signup-header h3 {
  font-size: 26px;
}

.creator-signup-header p {
  font-size: 14px;
}

.creator-signup-form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.creator-signup-form-content {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 30px;
}

.creator-signup {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  max-width: 375px;
}

.creator-signup-submit {
  margin: 30px;
}

.checkbox-label {
  color: rgba(133, 133, 163, 0.8);
  font-size: 12px !important;
}

.creator-signup-progress {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.creator-signup-step {
  background: #E3E3E3;
  border-radius: 30px;
  height: 6px;
  width: 23%;
}

.question-100 {
  display: none;
}

.creator-signup-input {
  margin-bottom: 28px;
}

.creator-signup-step-complete-1 {
  background: linear-gradient(121.9deg, #40C1F1 -5.24%, #692CE9 99.91%);
}

.creator-signup-step-complete-2 {
  background: linear-gradient(121.9deg, #40C1F1 -5.24%, #692CE9 77.96%);
}

.creator-signup-step-complete-3 {
  background: linear-gradient(121.9deg, #40C1F1 -5.24%, #692CE9 55.31%);
}

.creator-signup-step-complete-4 {
  background: linear-gradient(121.9deg, #40C1F1 -5.24%, #692CE9 22.26%);
}

.name-group-item-left {
  margin-right: 10px;
}

.name-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.step1 {
  display: flex;
  justify-content: space-between;
}

.avatar {
  align-self: end;
  height: 75px !important;
  width: 75px !important;
  cursor: pointer;
}

.instagram {
  margin-right: 20px;
  width: 100%;
}

.upload input[type=file] { 
  visibility: hidden;
  position: absolute
}

.error {
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: 100%;
}

.error-alert {
  width: 100%;
  border-radius: 0px !important;
}

.login-link {
  margin-top: 4px;
}

.login-link span {
  cursor: pointer;
  text-decoration: underline;
}